/* ----------------------- */
/* -------- Var ---------- */
/* ----------------------- */

:root {
  --primary-color: #F063F4;
  --secondary-color: #A3ABF1;
  --white-color: #FFF;
  --black-color: #000;
}
@import url('https://fonts.cdnfonts.com/css/chalet');

@font-face {
  font-family: 'Pricedow';
  src: url('/Typos/grand-theft-auto/pricedow.ttf');
}

/* ----------------------- */
/* -------- Nav ---------- */
/* ----------------------- */

/* ----------------------- */
.block-nav-1{
    margin-top: -10.7vh;
    display: flex;
    width: 100%;
    height: 10vh;
}

.block-nav-1 div {
    width: 100%;
    background-color: var(--black-color);
    border-bottom : 0.2rem solid var(--primary-color);
}

.block-nav-1 .circle{
    margin-left: -55vw;
    width: 10vw;
    height: 20vh;
    border-bottom : 0.2rem solid var(--primary-color);
    border-left: 0.2rem solid var(--primary-color);
    border-right: 0.2rem solid var(--primary-color);
    border-top: 0.2rem solid var(--black-color);
    /* z-index: -3; */
    border-radius: 50%;
}

.block-nav-1 .cache{
    width: 10vw;
    height: 10vh;
    background-color: var(--black-color);
    margin-left: -10.1%;
    border-bottom: solid 3px black;
}

/* ----------------------- */

.block-nav-2{
    display: flex;
    width: 100%;
    height: 10vh;
}

.block-nav-2 div {
    width: 100%;
    background-color: var(--white-color);
    border-bottom : 0.2rem solid var(--primary-color);
}

.block-nav-2 .circle{
    width: 23vw;
    height: 20vh;
    border-bottom : 0.2rem solid var(--primary-color);
    border-left: 0.2rem solid var(--primary-color);
    border-right: 0.2rem solid var(--primary-color);
    border-top: 0.2rem solid var(--white-color);
    /* z-index: -3; */
    border-radius: 50%;
    margin-left: -1.1%;
}

/* ----------------------- */

.logo{
    z-index: 10;
    height: 16vh !important;
    width: auto;
    /* margin-left: -3vw; */
    margin-top: 10vh;
}

.element-nav a:hover{
    text-decoration: underline;
}

.element-nav a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    font-family:'chalet';

}

.element-nav img{
    height: 6vh ;
    margin-left: 4vw;
}

.element-nav a:first-child{
    text-decoration: underline;

}

.element-nav p{
    z-index: 99999;
    color: #707070;
    font-size: 2.5rem;
    margin-right: -9vw;
    margin-left: -5vw;
}

.element-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ----------------------- */
/* ------- Header -------- */
/* ----------------------- */

/* BLOCK VIDEO */
/* ----------------------- */

header video{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    margin-top: -40px;
}


/* ----------------------- */
/* ------- Body -------- */
/* ----------------------- */

/* FIRST INFOS BLOCK*/
/* ----------------------- */

.block-infos{
    margin-top: 45%;
    display: flex;
    justify-content:center;
    align-items:center;
    background-image:      linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url('../Images/paysage_gta6.jpg');
    background-size: 100% auto;
    height: 100vh;
    width: 100%;
    color: var(--white-color);
}

.content-image-infos img{
    width: 80%;
    height: auto;
}

.content-image-infos{
    width: 50%;
    height: auto;
}

.content-text-infos img{
    width: 20%;
    height: auto;
}

.content-text-infos h2{
    font-family: 'chalet';
    font-weight: bold;
    margin-top: 2%;
}

.content-text-infos p{
    font-family: 'chalet';
    font-size: 1.3rem;
    width: 75%;
}

.content-text-infos{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}


/* FIRST INFOS BLOCK*/
/* ----------------------- */

.block-infos-2 .content-text-infos{
    margin-left: 15%;
}

.block-infos-2 .content-image-infos img{
    width: 100%;
    height: auto;
    margin-left: -10%;
    margin-top: 5%;
}

.block-infos-2{
    /* margin-top: 45%; */
    display: flex;
    justify-content:center;
    align-items:center;
    background-image:      linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url('../Images/gta5-online-paysage.jpeg');
    background-size: 100% auto;
    height: 100vh;
    width: 100%;
    color: var(--white-color);
}

/* BUY BLOCK*/
/* ----------------------- */

.content-buy{
    display: flex;
    justify-content:center;
    align-items:center;
    background-image:      linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url('../Images/paysage_gta6_2.jpg');
    background-size: 100% auto;
    height: 100vh;
    width: 100%;
}

.content-buy .content-button img{
    width: 12%;
    height: auto;
}

.content-buy .content-button button{
    background-color: var(--black-color);
    color: var(--white-color);
    width: 75%;
    height: auto;
    border: 0.4rem solid var(--white-color);
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 15%;
    font-size: 1.5rem;
    font-weight: bold;
    font-family:'chalet' !important;
    padding: 1.3%;
}

.content-buy .content-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.content-gta-online {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: auto;
}

.content-gta-online img{
    /* margin-left: 25%; */
    width: 75%;
    height: auto;
    border: 0.4rem solid var(--black-color);
}

.content-gta-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: auto;
}

.content-gta-6 img{
    /* margin-right: 25%; */
    width: 75%;
    height: auto;
    border: 0.4rem solid var(--primary-color);

}


/* MAPS BLOCK*/
/* ----------------------- */

.content-maps {
    display: flex;
    justify-content:center;
    /* align-items:center; */
    flex-wrap: wrap;
    background-image: 
    linear-gradient(
        rgb(91, 96, 145), 
        rgba(0, 0, 0, 0.6)
      ), url('../Images/maps-gta.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100vh;
    width: 100%;
    
}

.content-maps h1{
    font-family: 'Pricedow';
    text-shadow: 2px 0 0 #000, 2px 2px 0 #000, 0 2px 0 #000, -2px 2px 0 #000, -2px 0 0 #000, -2px -2px 0 #000, 0 -2px 0 #000, 2px -2px 0 #000;
    color: #FFF;
    font-size: 4rem;
    text-align: center;
    width: 25%;
    margin-left: -4.1%;
    margin-top: 2%;
}

/* .content-maps img{
    width: 20%;
} */

.gyrophare{
    width: auto;
    height: 5%;
    image-orientation: revert;
    -webkit-transform : rotate(180deg); 
    -moz-transform : rotate(180deg); 
    -ms-transform : rotate(180deg); 
    -o-transform : rotate(180deg); 
    transform : rotate(180deg); 
    margin-left: 17%;
}

.helicopter{
    width: 25%;
    height: auto;
    margin-left: 15%;
}

.maps{
    margin-top: -10%;
    width: 55%;
    height: auto;
    margin-left: 10%;
}

.maserati{
    margin-top: -15%;
    margin-right: 65%;
    width: 30%;
    height: auto;
}

/* ----------------------- */
/* ------- Footer -------- */
/* ----------------------- */

footer{
    width: 100%;
    height: 12vh;
    background-color: var(--black-color);
}

footer .footer-buttons,footer .footer-buttons button{
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: 'chalet';
    font-size: 1.3rem;
}

footer .footer-buttons .content-button :hover{
    color: var(--white-color);
    border-bottom: var(--white-color) 1px solid;
}

.footer-buttons {
    display: flex;
    width: 25%;
    margin-left: 5%;
    padding-top: 2%;
    justify-content: space-around;
}

.content-footer-1{
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    /* margin-left: 25%;
    padding-top: 5%; */
}

.languages-selecter{
    font-family: 'chalet';
    font-size: 1.3rem;
    background-color: var(--black-color);
    color: var(--white-color);
    border: #000 0rem solid;
}

.footer-selecteur {
    padding-top: 2%;
    margin-left: 55%;
}

.footer-selecteur i {
    font-size: 1.3rem;
}

.footer-links a{
    text-decoration: none;
    color: var(--white-color);
    width: 25%;
    
}

.footer-links{
    display: flex;
    /* width: 50%; */
}

.block-links a{
    width: 105%;
    text-align: center;
}

.block-links{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.plateforme-button {    
    display: flex;
    color: var(--white-color);
    justify-content: space-around;
    align-items: center;
}

.plateforme-button img{
    /* color: var(--white-color); */
    width: 33%;
    height: auto;
    /* background-color: var(--white-color); */
}

.plateforme-button h3 {
    font-size: 0.9rem;
    text-align: center;

}


/* ----------------------- */
/* ------- stars -------- */
/* ----------------------- */

.content-start img{
    width: 15%;
    height: auto;
}

.content-start{
    display: flex;
    position: fixed;
    left: 80%;
    top : 12%;
}